{% extends 'todo/base.html' %}

{% block title %}Manage Tags{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card mb-4">
            <div class="card-header bg-white">
                <h5 class="mb-0">Manage Tags</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-md-8">
                            {{ form.name.label_tag }}
                            {{ form.name }}
                        </div>
                        <div class="col-md-4 d-flex align-items-end">
                            <button type="submit" class="btn btn-primary w-100">
                                <i class="fas fa-plus me-1"></i> Add
                            </button>
                        </div>
                    </div>
                </form>
                
                <hr>
                
                <div class="d-flex flex-wrap gap-2">
                    {% for tag in tags %}
                    <div class="d-flex align-items-center bg-light rounded-pill px-3 py-1">
                        <span class="me-2">#{{ tag.name }}</span>
                        <form method="post" action="{% url 'todo:delete_tag' tag.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-link text-danger p-0">
                                <i class="fas fa-times"></i>
                            </button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}